body {
    background: black;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#spectrum-controls {
    min-width: 700px;
    margin: 100px auto;
    position: relative;
}

div.slider-slot {
    height: 300px;
    width: 50px;
    float: left;
    margin-right: 2px;
}

div.slider {
    background: #f49;
    transition: background 0.1s;
    border: black 1px solid;
    width: 40px;
    height: 300px;
    position: relative;
    left: 5px;
}

div.can-move {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


div.slider.sparkling {
    background: #b3dbac;
}

.hint {
    color: #f49;
    font-family: sans-serif;
    letter-spacing: 3px;
    font-size: 2rem;
}